/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Trispace:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); */

body {
  height: 100vh;
  background-color: #07001a;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-primary {
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}

.btn {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-color: hsl(var(--n) / var(--tw-border-opacity));
  text-align: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--rounded-btn, 0.5rem);
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1em;
  min-height: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  text-transform: var(--btn-text-case, uppercase);
  text-decoration-line: none;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--nc) / var(--tw-text-opacity));
}
/* .default-font {
	font-family: 'Trispace', sans-serif;
}
.game-font {
	font-family: 'Press Start 2P', sans-serif;
} */
.bg-image {
  background-image: url(/public/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Create a custom checkbox */
.checkmark {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #2a253a;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  border-radius: 4px;
  opacity: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--rounded-btn, 0.5rem);
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.25rem;
  line-height: 1em;
  min-height: 3rem;
  text-transform: var(--btn-text-case, uppercase);
  text-decoration-line: none;
}
.checkmark:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.w-100 {
  padding: auto 20px !important;
}

/* When the checkbox is checked, add a blue background */
.containers input:checked ~ .checkmark {
  border: 1px solid #fff;
  color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.containers .checkmark:after {
  left: 0.4rem;
  height: 10px;
  width: 5rem !important;

  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* my animation */

#maincoin {
  animation: coinFlip 1s infinite linear;
  transform-origin: center;
}

@keyframes coinFlip {
  0%,
  20%,
  100% {
    transform: rotateX(0deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateY(180deg);
  }
}

/*for dice*/
#diceroll {
  animation: roll 2s linear infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Webkit based browsers */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1cba6b;
}

::-webkit-scrollbar-thumb {
  background-color: #1cba6b;
  border-radius: 10px;
}

/* Firefox based browsers */
::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: #1cba6b;
}

::-moz-scrollbar-thumb {
  background-color: #1cba6b;
  border-radius: 10px;
}

/* Switching users*/
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 10em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transition: 0.4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 8px;
  left: 0.3em;
  bottom: 0.3em;
  transform: rotate(270deg);
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #fff;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

.switch input:checked + .slider:before {
  transform: translateX(8em);
}

/* For card styles */

.wallet {
  --bg-color: #fff;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #000;
  --box-shadow-color: rgba(245, 252, 178, 0.48);
}

.card {
  width: 220px;
  height: 321px;
  background: #000;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
  color: #000;
}

.card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:hover .type {
  color: var(--text-color-hover);
  font-size: 17px;
}

.card .type {
  font-size: 17px;
  color: #fff;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.card svg g {
  stroke: #000;
}

.card:hover svg g {
  stroke: #fff;
}

.card svg path {
  stroke: #000;
}

.card:hover svg path {
  stroke: #fff;
}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}

/* For Result */
.cardResult {
  width: 380px;
  height: 220px;
  background-color: #07001a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgb(253, 224, 71);
}

#cookieSvg {
  width: 50px;
}

#cookieSvg g path {
  fill: rgb(97, 81, 81);
}

.cookieHeading {
  font-size: 1.2em;
  font-weight: 800;
  color: #fff;
}

.cookieDescription {
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(99, 99, 99);
}

.buttonContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.acceptButton {
  width: 80px;
  height: 30px;
  background-color: #7b57ff;
  transition-duration: 0.2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
}

.declineButton {
  width: 80px;
  height: 30px;
  background-color: #1cba6b;
  transition-duration: 0.2s;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
}

.declineButton:hover {
  background-color: #ebebeb;
  color: #000;
  transition-duration: 0.2s;
}

.acceptButton:hover {
  background-color: #9173ff;
  transition-duration: 0.2s;
}

/*
    "viem": "^1.4.2",
    "wagmi": "^1.3.9",
*/

/* button nav */
.button_nav {
  z-index: 500 !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  border-radius: 0.75rem !important;
  border-width: 1px !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  font-weight: 800 !important;
  color: #fff !important;
  white-space: nowrap !important;
  background: #090ca9 !important;
  /* background: linear-gradient(#090ca9, #be36eb) !important; */
}

/* ConnectWallet mobile styles */
@media screen and (max-width: 768px) {
  .button_nav {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 0.75rem !important;
    border-width: 1px !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    font-weight: 800 !important;
    color: #fff !important;
    white-space: nowrap !important;
    background: #090ca9 !important;
    min-width: 53px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /* background: linear-gradient(#090ca9, #be36eb) !important; */
  }

  .tw-connected-wallet {
    width: 20px !important;
    overflow: hidden;
  }

  .tw-connected-wallet .css-1b5osxr {
    display: none !important;
  }

  .tw-connected-wallet__wallet-icon {
    margin-right: 0 !important;
  }
}
/* button nav */

/* Swaitch wallet toggle */
.navside .switch {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.navside .toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.navside .slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.navside .slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.navside .toggle:checked + .slider {
  background-color: var(--input-focus);
}

.navside .toggle:checked + .slider:before {
  transform: translateX(2em);
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Gray color similar to Tailwind's gray-500 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* Dark background to blend with the table's theme */
}
